:root {
  --form-heading: #4e5150;
  --dark-gary: #333333;
  --light-gray: #828282;
  --accent: #f2994a;

  --font-weight: 600;

  --fs-large: 1.5rem;
  --fs-md: 0.875rem;
  --fs-sm: 0.75rem;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: var(--fs-md);
  font-weight: var(--font-weight);
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 1rem;
}
.section-heading {
  font-size: var(--fs-large);
  margin-bottom: 3rem;
}
img {
  width: 124px;
  height: 124px;
  border-radius: 13px;
}
.inner-wrapper {
  display: grid;
  gap: 2.5rem;
  width: 100%;
}
.checkout-wrapper {
  order: -1;
  background-color: #f2f2f2;
  padding: 2rem 1rem;
  border-radius: 12px;
}
.checkout-items {
  display: grid;
  gap: 2rem;
  margin-bottom: 4rem;
}
.checkout-item {
  display: flex;
  gap: 1rem;
}
.checkout-item > div {
  display: flex;
  flex-direction: column;
}
.item-name {
  color: var(--form-heading);
  margin-bottom: 0.4rem;
}
.price {
  color: var(--accent);
}
.original {
  text-decoration: line-through;
  color: var(--form-heading);
  margin-left: 0.5rem;
}
.quantity {
  font-size: 1rem;
  min-width: 124px;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  border: 1px solid var(--light-gray);
  border-radius: 12px;
  color: var(--dark-gary);
  margin-top: auto;
}
.updater {
  background-color: #e0e0e0;
  padding: 0.1rem 0.25rem;
  border-radius: 5px;
  cursor: pointer;
}
.shipping,
.total {
  padding: 1rem 0;
  border-top: 1px solid #bdbdbd;
  display: flex;
  justify-content: space-between;
}
form {
  font-family: inherit;
  font-weight: 600;
}
.form-heading {
  color: var(--dark-gary);
  margin-bottom: var(--fs-sm);
}
label {
  display: block;
  margin-bottom: 0.3rem;
  color: #4f4f4f;
}
.personal-details {
  margin-bottom: 3rem;
}
.form-group {
  margin-bottom: 1rem;
}
.form-group--inner {
  border: 1px solid var(--light-gray);
  padding: var(--fs-sm);
  border-radius: 12px;
  color: var(--light-gray);
  display: flex;
  align-items: center;
}
input,
select {
  outline: none;
  border: none;
  color: var(--light-gray);
}
i {
  margin-right: var(--fs-sm);
}
.double {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  justify-content: space-between;
  gap: 0.5rem;
}
.checkbox {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  font-size: 10px;
}
input[type="checkbox"] {
  margin-right: 1rem;
}
.btn-wrapper {
  display: flex;
  justify-content: flex-end;
}
.btn {
  margin-top: 1.5rem;
  color: #fff;
  background-color: var(--accent);
  font-weight: 600;
  outline: none;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 12px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .inner-wrapper {
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    gap: 10rem;
  }
  .checkout-wrapper {
    order: 2;
  }
}
